@font-face {
    font-family: PingFangSC-Semibold;
    src: url('./fonts/PingFang/苹方黑体-极细-简.ttf'),
        url('./fonts/PingFang/苹方黑体-纤细-简.ttf'),
        url('./fonts/PingFang/苹方黑体-中黑-简.ttf'),
        url('./fonts/PingFang/苹方黑体-中粗-简.ttf'),
        url('./fonts/PingFang/苹方黑体-细-简.ttf'),
        url('./fonts/PingFang/苹方黑体-准-简.ttf');
    font-weight: normal;
    font-style: normal;
}
html,body {
    font-family: PingFangSC-Semibold, sans-serif;
}
.demo-css{
    width: 123px;
    height: 123px;
    border: 1px solid #333;
    border-radius:10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size: 24px;
}